.moviePage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 34px;
}

.alert {
  margin: 0 auto;
}

.spin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
